div#root {
  width: 500px;
  margin-left: 550px;
}
.container {
  width: 200px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.header h1 {
  text-align: center;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  background-color: aliceblue;
}

.weather-info {
  height: 300px;
  background-color: beige;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.weather-more-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather-more-info img {
  margin-left: 10px;
  margin-right: 10px;
}
.weather-info h1 {
  cursor: pointer;
}
